body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.main-weather-app {
    height: 100vh;
    width: 100%;
    background-image: url('Images/weather.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

.container {
    position: absolute; 
    top: 250px;  
    right: 150px;
    
    /* To place it centrally, you could use:*/
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
}

.city {
    padding: 10px 15px;
    border: solid black 2px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.sub{
    margin: 15px;
    margin-left: 80px;
    padding: 5px 5px;
    border-radius: 15px;
    border: solid black 2px;
    font-size: 17px;
    cursor: pointer;
    background-color:  rgba(255, 255, 255, 0.7);
}